@{
    if(!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_Layout.cshtml";  
    }
}
<div class="dialog-ontainer" dialog-title="@ViewBag.Title">
    @RenderBody()
</div>
@*@RenderSection("scripts", required: false)*@








