<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DENTALERPDbContext" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=DENTALERP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="data source=(local)\SQLEXPRESS;initial catalog=DENTALERP;Integrated Security=true" providerName="System.Data.SqlClient" />
</connectionStrings>
