/*#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eeeeee;
}
#cssmenu {
  width: 250px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 80%;
  font-weight:bold;
  color: #ffffff;
}
#cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 15px 20px;
  border-left: 1px solid #1682ba;
  border-right: 1px solid #1682ba;
  border-top: 1px solid #1682ba;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);

background: rgb(167,207,223); 
background: -moz-linear-gradient(left,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); 
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))); 
background: -webkit-linear-gradient(left,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); 
background: -o-linear-gradient(left,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); 
background: -ms-linear-gradient(left,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); 
background: linear-gradient(to right,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); 

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  color: #eeeeee;
 background: rgb(167,207,223); 
background: -moz-linear-gradient(left,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); 
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))); 
background: -webkit-linear-gradient(left,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); 
background: -o-linear-gradient(left,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); 
background: -ms-linear-gradient(left,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); 
background: linear-gradient(to right,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); 
}
#cssmenu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #1682ba;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  border-bottom: 1px solid #1682ba;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#cssmenu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #eeeeee;
  background: #49505a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  background: #8C959A; 
  color: #ffffff;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #ffffff;
}*/
/* Base Styles .....................................................................>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height:1;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  position: relative;
}
#cssmenu {
  width: 260px;
   
  /*border-bottom: 4px solid #656659;*/
    
  border-bottom: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#cssmenu a {
  line-height: 2;
}
/*#cssmenu > ul > li:first-child {
  background: #0F6738;
  background: -moz-linear-gradient(#0F6738 0%, #32CD32 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0F6738), color-stop(100%, #32CD32));
  background: -webkit-linear-gradient(#0F6738 0%, #32CD32 100%);
  background: linear-gradient(#0F6738 0%, #32CD32 100%);
  border: 1px solid #32CD32;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:first-child > a {
  padding: 15px 10px;
  background: url('/Content/images/pattern.png') top left repeat; 
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300; 
  text-shadow: 0 -1px 1px #000000;
}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover {
  background: #0F6738;
  background: -moz-linear-gradient(#0F6738 0%, #32CD32 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0F6738), color-stop(100%, #32CD32));
  background: -webkit-linear-gradient(#0F6738 0%, #32CD32 100%);
  background: linear-gradient(#0F6738 0%, #32CD32 100%);
}*/
body {
    background-color:ghostwhite;
     /*background-color:cadetblue;*/
}
#cssmenu > ul > li {
  background: #020033;
  background: -moz-linear-gradient(#020033 0%,#40e0d0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0F6738), color-stop(100%, #32CD32));
  background: -webkit-linear-gradient(#020033 0%,#40e0d0 100%);
  background: linear-gradient(#020033 0%,#40e0d0 100%);
  border: 1px solid #32CD32;
}
#cssmenu > ul > li:hover {
 background: #020033;
  background: -moz-linear-gradient(#020033 0%, #020033 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #020033), color-stop(100%, #020033));
  background: -webkit-linear-gradient(#020033 0%, #40e0d0100%);
  background: linear-gradient(#020033 0%,#40e0d0 100%);
  border: 1px solid #32CD32;
}
#cssmenu > ul > li > a {
  font-size: .9em;
  display: block;
  background: url('/Content/images/pattern.png') top left repeat;
  color: #ffffff;
  border: 1px solid #ba2f14;
  border-top: none;
  text-shadow: 0 -1px 1px #751d0c;
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.has-sub > a span {
  background: url('/Content/images/icon_plus.png') 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url('/Content/images/icon_minus.png') 96% center no-repeat;
}


#cssmenu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
#cssmenu ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #0F6738;
  background: -moz-linear-gradient(#020033 0%, #40e0d0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #020033), color-stop(100%, #32CD32));
  background: -webkit-linear-gradient(#020033 0%, #40e0d0 100%);
  background: linear-gradient(#020033 0%,#40e0d02 100%);
  border: 1px solid #32CD32;
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  /*padding: 10px 10px 10px 25px;*/
  padding: 5px 5px 5px 15px;
  display: block;
  color: #ffffff;
  font-size: .8em;
  font-weight: normal;
}
#cssmenu ul ul a:before {
  /*content: '\00BB';*/
  position: absolute;
  left: 10px;
  color: #e94f31;
}
#cssmenu ul ul a:hover {
  color: #e94f31;
}






