@using System.Runtime.Remoting.Messaging
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using DENTALMIS.Utility
@using DENTALMIS.Web.Extension
@model DENTALMIS.Web.Models.DoctSectionViewModel.DoctorDesinationViewmodel
@{
    ViewBag.Title = "DoctorDesignation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h3 style="margin-left:450px;font-weight: bolder; color: darkblue;">[--Doctor Designation--]</h3>

<section class="search formCover">
    <div class="additem">
        <div style="margin-top: 1px;">
            <p>

                @Html.Button("Add New", new { @class = "AjaxPopup", @action = "/DoctorDesignation/Edit/" })

            </p>
        </div>
        @{
            var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
            grid.Bind(Model.DoctorsDesignations, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(htmlAttributes: new { id = "grid" },
                tableStyle: "webgrid-table webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                selectedRowStyle: "webgrid-selected-row",
                rowStyle: "webgrid-row-style",
                firstText: "First",
                lastText: "Last",
                nextText: "Next",
                mode: WebGridPagerModes.All,
                previousText: "Previous",
                columns: grid.Columns(
                                          grid.Column("DesignationName", header: "Designation Name"),
                                                                      grid.Column("Description", header: "Designation Description"),

                         grid.Column("Detail/Edit", format: @<text><button class="edit" action="/DoctorDesignation/Edit?DoctorDesignationId=@item.DoctorDesignationId"></button></text>, canSort: false),
                         grid.Column("Delete",format:@<text><button class="delete" action="/DoctorDesignation/Delete?DoctorDesignationId=@item.DoctorDesignationId"></button></text>, canSort: false)));
        }
    </div>
</section>

