.pdfReportFormCover {
    background: #fefefe;
    width: 98%;
    padding: 10px;
    height: 520px;
}

.reportCover {
    max-width: 1100px;
    box-shadow: 3px 5px 10px #ccc;
    background-color: #FFF;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.reportTitle {
    text-align: center;
    font-family: Calibri;
    font-size: 20px;
    font-weight: bold;
}

.reportHeader {
}

.ReportDataTitle {
    font-size: 18px;
    float: left;
    font-family: Calibri;
    font-weight: bold;
    border:1px;
}

.ReportHeadData {
    font-size: 18px;
    float: left;
    font-family: Calibri;
    margin-left: 5px;
    padding-left: 5px;
}

.reportGroupTotalCalculationTR {
    border-top: 1px solid #aaa;
    padding:5px;
}

.reportTotalCalculationTR {
    border-top: 1px solid #333;
    padding:5px;
}

.reportTotalCalculationTD {
    font-weight: bold;
    padding-left: 5px;
    padding:5px;
}

.reportGroupCalculationTD {
    font-weight: bold;
    padding-left: 5px;
}

.reportBody {
    padding: 10px;
    font-family: Calibri;
}

.pdfReportTable {
    background-color: #ffffff;
    /*padding: 3px;*/
    font-size: 11px;
    font-family: Verdana;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #333;
    border-top: 0px;
}

.reportThead {
    background: #EFEFEF;
}

.reportThead tr{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
.reportTH {
    font-weight: bold;
    text-align: left;
    padding: 8px 5px;
}

.reportTRGroup {
    font-weight: bold;
    text-align: left;
    background: #fefefe;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}

.reportTDGroup {
    padding: 8px 5px;
}

.reportTR {
    border-bottom: 0.5px solid #333;
    border-top: 0.5px solid #333;
    cursor: pointer;
    font-size: 13px;
}

.reportTRGroup .reportTD {
    
    border: 0px;
}
.reportTD {
    border-left: 0.5px solid #333;
    border-right: 0.5px solid #333;
    padding: 5px;
    vertical-align: top;
}

#btnReportPrintCover {
    float: right;
    clear: both;
    margin-right: 0px;
    margin-top: 10px;
}

#btnReportPrint {
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial;
    min-width: 70px;
    float: left;
    color: #111;
    background: #5384f8;
    padding: 2px;
    color: #fff;
    border: solid 1px #5384f8;
    border-radius: 3px;
}

    #btnReportPrint:hover {
        background: #3a6bdd;
        border-radius: 3px;
        text-shadow: 1px -1px 1px #666;
    }
